/* Footer css stylings goes here */
.footer {
  display: flex;
  justify-content: space-between;
}

.footer-icon-links {
  width: 142px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-btn {
  text-align: center;
  border: 3px solid black;
  border-radius: 30px;
  padding: 10px;
  height: 50px;
  /* outline: none; */
  cursor: pointer;
}
