/* The font stylings are done here */

.content-font {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 48px;

  letter-spacing: 0.15px;

  color: #000000;

  padding-bottom: 48px;
}

h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  line-height: 48px;
  padding-bottom: 37px;

  letter-spacing: 0.15px;

  color: #000000;
}

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;

  letter-spacing: 0.15px;

  color: #000000;
}

button,
input[type="submit"] {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.copy-write {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.15px;

  color: #000000;
}
